/jMonOpt_removing_GUI.m
/terptest2.log
/testing.py
/geom_functions.py
/jMonOpt.m
/basis_set_and_theory.py
/frames/
/.mypy_cache/
/.idea/
*.com
*.log
/venv
/*.spec
/build/
/dist/
/installation_script.txt